{% load djangocms_blog i18n easy_thumbnails_tags cms_tags %}


<div id="post-{{ post.slug }}" class="post-item-container ">
    <a href="{{ post.get_absolute_url }}">
        {% thumbnail post.main_image 510x350 crop upscale as thumb %}
        <div class="blog-visual">
            {{thumb.url}}
        </div>
    </a>
    <article class="post-item">
        <div class="post-item-body">
            <a class="post-item-link" href="{{ post.get_absolute_url }}">
                <h3 class="title">{{ post.title }}</h3>
                <span class="post-item-date">
                    {{ post.date_published|date:"DATE_FORMAT" }}
                </span>
            </a>
            <div class="post-item-keys">{{ post.meta_keywords }}</div>
        </div>

    </article>
</div>