{% extends 'base.html' %}


{% load i18n cms_tags menu_tags sekizai_tags static %}
{% get_current_language as lang_code %}

{% block navbar %}
    <nav style="padding: 0 !important;" class="mynav navbar {% block navbar_options %}navbar-expand-lg navbar-light bg-white{% endblock %}">
        <div class="container">
            <a class="navbar-brand" href="/" style="margin-right: 2rem;">
                <img style="height: 50px; padding: 10px;box-sizing: content-box;" src="/static/global/img/logo.png" alt="">
                <span>Tiny RF Equip</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">{% block menubar %}{% show_menu 0 100 100 100 'menu/menu.html' %}{% endblock %}</ul>
                {% block searchbar %}{% endblock %}
                <ul class="language-box">{% language_chooser %}</ul>
                {% comment %} <form action="{% url 'search' %}" method="get">
                    <input type="text" name="q" placeholder="Search..." required>
                    <button type="submit">Search</button>
                </form> {% endcomment %}
                {% comment %} <django-formset …>
                    <input class="formset-text-input" form="id_registerpersonform" type="text" placeholder="搜索">
                    <button type="submit" class="search-button">Search</button>
                </django-formset> {% endcomment %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <main style="background:#f2f2f2;">
	<img src="{{news.image.url}}" style="display:block;width:100%;">
        <div class="my_news_detail container">
            <div class="row news_detail" >
                <div class="detail_right col col-lg-9 col-md-9 col-9 col-xl-9 col-xxl-9 col-sm-12">
                    <div style="background:#fff;padding:0.75rem;">
                        <p class="title">{{news.name}}</p>
                        <div class="subtitle">
                            <span>{% if lang_code == 'en'%} Category: {% else %} 分类：{% endif %}{{news.tag}}</span>
                            <span style="margin-left:8px">{% if lang_code == 'en'%} Create Time: {% else %} 发布时间：{% endif %}{{news.created_at}}</span>
                        </div>
                        <div class="intro">{{news.description}}</div>
                        <p class="content">{{news.content}}</p>
                    </div>
                </div>
                <div class="detail_left col col-lg-3 col-md-3 col-3 col-xl-3 col-xxl-3 col-sm-12" style="background:#fff;">
                    <p class="title">
                        {% if lang_code == 'en'%} More Recommend {% else %} 更多推荐 {% endif %}
                    <p>
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                               {% for related in related_news %}
                                   <div class="swiper-slide" data-swiper-slide-index="2" style="height: 63.6px; margin-bottom: 8px;">
                                       <div class="tit"><a href="">{{related.name}}</a><span>{{related.created_at}}</span></div>
                                       <div class="subtit">{{related.description}}</div>
                                   </div>
                               {% endfor %}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

